<article class="post-item">
  <h2><%= post.title %></h2>
  <!-- "post" is the key we created on the posts-list.ejs -->
  <!-- title is the property name we chose for the documents we stored on the database. -->
  <p class="post-item-author">By <%= post.author.name %></p>
  <!-- We don't need to run an extra query and join data from the authors collections -->
  <!-- As we have duplicated the authors data into the posts collection -->
  <p><%= post.summary %></p>
  <div class="post-actions">
    <form action="/posts/<%= post._id %>/delete " method="POST">
      <button class="btn btn-alt">Delete Post</button>
    </form>
    <!-- We should wrap the button inside a form tag to add a action link and connect  -->
    <!-- it to a route on blog.js -->
    <!-- Method is POST for deleting to. -->
    <a href="/posts/<%= post._id %>/edit">Edit Post</a>
    <a class="btn" href="/posts/<%= post._id %>">View Post</a>
    <!-- post._id will create a unique id for each post url. -->
    <!-- Now we need to create a route and render post-detail.ejs file from blog.js for -->
    <!-- both of the above urls. -->
  </div>
</article>
